.container {
	padding: 20px 32px;
}

#header .buttons .icon {
	margin-right: 0;
}

th a {
	width: 100%;
	display: block;
	color: #363636;
}

th .icon {
	float: right;
}

th:nth-child(1) {
	min-width: 95px;
}

th:nth-child(2), th:nth-child(3) {
	min-width: 175px;
}

th:nth-child(4) {
	min-width: 120px;
}

table .buttons, #page {
	width: 90px;
}

#middlefield {
	width: 100px;
}

input[type="radio"] {
	margin-right: 5px;
}

@media screen and (max-width: 768px) {
	.container.is-fluid {
		padding: 20px 0;
	}

	#middlefield {
		width: 100%;
	}
}

@media screen and (max-width: 330px) {
	#sched label {
		margin: 0;
	}
}