.container, .columns {
	height: 100%;
}

#middlefield {
	width: 100px;
}

input[type="radio"] {
	margin-right: 5px;
}

@media screen and (max-width: 768px) {
	#middlefield {
		width: 100%;
	}

	#sched label {
		margin: 0;
	}

	.box {
		margin-top: 25px;
	}
}